<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Folded Flower Studios</title>
    </head>
<body>
    <div id="root-div">
        <nav>
            <p>Wot in Navigation</p>
        </nav>
        <div class="flex-row-container-wrap debugb basic">
            <aside class="flex-column-container-nwrap flex-item-fixed" style="flex-basis:10vw">
                <div class="flex-item-fixed debugr" style="height:50%;">
                    <h3>Aside 1</h3>
                </div>
                <div class="flex-item-fixed" style="height:50%">
                    <h4>Aside 2</h4>
                </div>
            </aside>
            <main class="flex-item debugp" style=""> 
                <h2>Main Content: Majority of the Page</h2>
            </main>
        </div>
    </div>
</body>
</html>